<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="axebot">
    <xacro:arg name="only_one_wheel" default="false"/>

    <!-- Constants for wheel mechanical parameters -->
    <xacro:property name="PI" value="3.1415926535897931"/>
    <xacro:property name="chassis_mass" value="1.074"/>
    <xacro:property name="chassis_height" value="0.04"/>
    <xacro:property name="robot_height" value="0.053"/>
    <xacro:property name="wheel_mass" value="0.105" />
    <xacro:property name="wheel_radius" value="0.0508" />
    <xacro:property name="motor_shaft_radius" value="0.002" />
    <xacro:property name="shaft_mass" value="0.001" />

    <!-- The sum of the chassis radius, half the wheel thickness, and the 
    motor shaft length must be equal to the robot radius L = 0.1 m used in the
    kinematic model -->
    <xacro:property name="chassis_radius" value="0.085"/>
    <xacro:property name="wheel_thickness" value="0.01905" />
    <xacro:property name="motor_shaft_length" value="0.005475"/>

    <xacro:include filename="$(find axebot_description)/urdf/wheel.urdf.xacro"/>
    <xacro:include filename="$(find axebot_description)/urdf/materials.urdf.xacro"/>
    <xacro:include filename="$(find axebot_description)/urdf/gazebo.urdf.xacro"/>
    <xacro:include filename="$(find axebot_description)/urdf/ros2_control.urdf.xacro"/>
    
    <link name="base_link"></link>

    <joint name="base_link_joint" type="fixed">
        <origin xyz="0 0 ${robot_height}" rpy="0 0 0" />
        <parent link="base_link"/>
        <child link="chassis_link" />
    </joint>

    <link name="chassis_link">
        <visual name="">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <cylinder radius="${chassis_radius}" length="${chassis_height}"/>
            </geometry>
            <material name="black"/>
        </visual>

        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <cylinder radius="${chassis_radius}" length="${chassis_height}"/>
            </geometry>
            <material name="black"/>
        </collision>

        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <mass value="1.634"/>
            <inertia ixx="0.00316977667"
                        ixy="0.0"
                        ixz="0.0"
                        iyy="0.00316977667"
                        iyz="0.0"
                        izz="0.005903752"/>
        </inertial>
    </link>
    <xacro:if value="$(arg only_one_wheel)">
        <xacro:wheel parent="chassis_link" suffix="1" theta="0"/>
    </xacro:if>
    <xacro:unless value="$(arg only_one_wheel)">
        <xacro:wheel parent="chassis_link" suffix="1" theta="${PI}"/>
        <xacro:wheel parent="chassis_link" suffix="2" theta="-${PI/3}"/>
        <xacro:wheel parent="chassis_link" suffix="3" theta="${PI/3}"/>
    </xacro:unless>
</robot>
