<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="axebot">
    <gazebo reference="chassis_link">
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="wheel1_link">
        <material>Gazebo/Grey</material>
        <!-- <fdir1>0 1 0"</fdir1> -->
        <!-- <mu1>1.7</mu1> -->
        <!-- <mu2>0.2</mu2> -->
    </gazebo>

    <gazebo reference="wheel2_link">
        <material>Gazebo/Grey</material>
        <!-- <fdir1>0 1 0"</fdir1> -->
        <!-- <mu1>1.7</mu1> -->
        <!-- <mu2>0.2</mu2> -->
    </gazebo>

    <gazebo reference="wheel3_link">
        <material>Gazebo/Grey</material>
        <!-- <fdir1>0 1 0"</fdir1> -->
        <!-- <mu1>1.7</mu1> -->
        <!-- <mu2>0.2</mu2> -->
    </gazebo>

    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>
            <parameters>$(find axebot_control)/config/omnidirectional_controller.yaml</parameters>
        </plugin>
        <plugin filename="libgazebo_ros_p3d.so" name="gazebo_ros_p3d" >
            <ros>
                <namespace>gazebo_ground_truth</namespace>
            </ros>
            <frame_name>world</frame_name>
            <body_name>base_link</body_name>
            <update_rate>50.0</update_rate>
            <gaussian_noise>0.01</gaussian_noise>
        </plugin>
    </gazebo>
</robot>
